/* html {
    width: auto;
    height: auto;
    background-image: url("http://wallpapercave.com/wp/o5UXr4f.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;

}
*/

body {
    padding-top: 60px;
    /* background-image: url("http://wallpapercave.com/wp/o5UXr4f.jpg");
    background-size:     cover;
    background-repeat:   no-repeat; */
}

.nav-element {
    padding-top: 7px;
    white-space: nowrap;
}

.home-heading {
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 0 0 5px black;
    border-bottom: 1px solid;
    padding-bottom: 2px;

}

.home-row {
    padding-top: 50px;
    text-align: center;
}

.home-row .home-row-heading {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 5px black;
}

.home-row .home-row-heading p{
    color: white;
    font-size: 15px;
    text-shadow: 0 0 5px black;
}

.home-row .home-row-heading a{
    padding-top: 100px;
}

.map-heading {
    text-align: center;
}

.registration-heading {
    text-align: center;
}

.registration-box {
    border: solid;
    border-color: white;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.registration-box .form-group {
    padding-left: 10px;
    padding-right: 10px;
}

#map {
    width: auto;
    height: 750px;
}