/* html {
    width: auto;
    height: auto;
    background-image: url("http://wallpapercave.com/wp/o5UXr4f.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;

}
*/

body {
    padding-top: 60px;
    /* background-image: url("http://wallpapercave.com/wp/o5UXr4f.jpg");
    background-size:     cover;
    background-repeat:   no-repeat; */
}

.nav-element {
    padding-top: 7px;
    white-space: nowrap;
}

.home-heading {
    text-align: center;
    color: black;
    font-size: 60px;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    font-family: coda;

}

.home-row {
    padding-top: 50px;
    text-align: center;
}

.home-row .home-row-heading {
    color: black;
    font-size: 30px;
    font-family: coda;
}

.home-row .home-row-heading p{
    color: black;
    font-size: 15px;
    font-family: coda;
}

.home-row .home-row-heading a{
    padding-top: 100px;
}

.map-heading {
    text-align: center;
    font-family: coda;
}

.registration-heading {
    text-align: center;
}

.registration-box {
    border: solid;
    border-color: white;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.registration-box .form-group {
    padding-left: 10px;
    padding-right: 10px;
}

#map {
    width: auto;
    height: 750px;
}

.overflow {
    position:absolute;
    top:0;
    left:0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    color:#ccc;
    max-width:90%;
}

#chart {
    height: 400px;
    width: 800px;
}

form.ng-submitted input.ng-invalid {
    border-color: red;
}