<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Chooser
            </a>
        </div>
    </div>
</nav>

<a ng-click="model.createWidget(model.pageId, 'HEADER')">Heading</a>
<br/>
<a ng-click="model.createWidget(model.pageId, 'IMAGE')">Image</a>
<br/>
<a ng-click="model.createWidget(model.pageId, 'YOUTUBE')">YouTube</a>
<br/>

