<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/map">Election Map</a></li>
            <li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">{{model.userMessage}}</a></li>
        </ul>
        </form>
    </div>
</nav>

<h1 class="map-heading">Interactive Election Map</h1>
<h3 class="map-heading">Click on a state to view polling information</h3>
<div id="map"></div>