
<h1 class="registration-heading">Register Below!</h1>

<div class="registration-box">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <div class="text-center">
            <a href="#/home">
                <button type="submit" class="btn btn-default">Cancel</button>
            </a>
        </div>
    </form>
</div>