<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/map">Election Map</a></li>
            <li><a href="#/register">Register</a></li>
        </ul>

        <form class="form-inline pull-right nav-element">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
            <button type="button" class="btn btn-default">Google+</button>
        </form>
    </div>
</nav>


<h1>
    STATE INFO {{model.state}}
</h1>