<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/map">Election Map</a></li>
            <li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">{{model.userMessage}}</a></li>
        </ul>
    </div>
</nav>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Search</span>
    <input ng-model="desiredUsername" type="text"
           class="form-control" placeholder="Username"
           aria-describedby="basic-addon1">
</div>

<a ng-click="model.searchForUser(desiredUsername)" class="btn btn-primary btn-block">Search</a>

<a href="#/users/{{model.username}}">{{model.username}}</a>